@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color1: rgba(0, 136, 169, 1);
	--color1-hover: rgba(0, 136, 169, 0.8);
}

body {
	background-color: #24252a !important;
	height: 100vh;
}

li {
	list-style: none;
}

.link {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: #edf0f1;
}

a {
	text-decoration: none !important;
}

li,
a,
.logo-text,
button {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	color: #edf0f1;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 2rem;
}

.links {
	padding-right: 25px;
	display: flex;
	gap: 1rem;
	margin: 0;
	align-items: center;
}

.username-container {
	display: flex;
	width: 100%;
	justify-content: center;
	background: var(--color1) !important;
	padding: 0.2rem 0.5rem;
}

.username {
	color: #edf0f1 !important;
	margin-left: 15%;
	font-weight: 700 !important;
}

.username:hover {
	background: var(--color1-hover) !important;
}

.dropdown-menu {
	padding-top: 0 !important;
}

.dropdown-item {
	display: flex !important;
	align-items: center;
	gap: 0.5rem;
}

.profile-link .dropdown-btn i {
	font-size: 1.5rem;
}

button.dropdown-item {
	padding: 0;
}

.logo-text {
	font-size: 1.5rem;
	user-select: none;
}

.second-item {
	margin: 0.5rem 0;
}

.link,
.logo-text,
#forgot-password {
	cursor: pointer;
	transition: 0.2s;
}

.link:hover,
.logo-text:hover,
#forgot-password:hover {
	color: #02a7bd;
}

.buttons-container {
	gap: 0.5rem;
}

.login-btn {
	padding: 8px 20px;
	background-color: var(--color1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: 0.2s;
	font-size: 0.9rem;
}

.signup-btn {
	padding: 8px 20px;
	border: 1px solid var(--color1);
	border-radius: 50px;
	cursor: pointer;
	transition: 0.2s;
	font-size: 0.9rem;
	background: none;
}

.login-btn:hover,
.signup-btn:hover {
	background-color: var(--color1-hover);
}

.main-navbar {
	display: flex;
	align-items: center;
}

.base-form {
	border-radius: 20px;
	width: 25%;
	background-color: white;
	padding: 50px;
}

.form-btn {
	width: 100%;
	border: none;
	color: white !important;
	background: var(--color1) !important;
}

.form-control {
	color: rgba(0, 0, 0, 0.87);
	border-bottom-color: rgba(0, 0, 0, 0.42);
	box-shadow: none;
	border: none;
	border-bottom: 1px solid;
	border-radius: 4px 4px 0 0;
}

h4 {
	font-size: 2rem;
	font-weight: 700;
}

.form-label,
.sign-in {
	font-weight: 400;
	font-size: 0.8rem;
	margin-bottom: 0.2rem !important;
	color: gray;
}

.sign-in a {
	color: var(--color1);
}

#forgot-password {
	color: gray;
	font-size: 0.9rem;
}

.main-container {
	display: flex;
	height: 70%;
	justify-content: center;
	align-items: center;
}

.dropdown-toggle::after {
	display: none !important;
}

.dropdown-btn {
	background: transparent;
}

.dropdown-btn i {
	color: white;
	font-size: 1rem;
}

.edit-button i,
.delete-button i {
	margin-right: 5px;
}

.modal-edit-button,
.card-btn {
	background-color: var(--color1) !important;
	border: 1px solid var(--color1) !important;
}
.modal-edit-button:hover,
.card-btn {
	background-color: var(--color1-hover) !important;
	border: 1px solid var(--color1-hover) !important;
}

.modal-edit-button i,
.edit-button i,
.delete-button i,
.insert-button i {
	margin-right: 8px;
	font-size: 0.75rem;
}

#cards-container {
	height: 80%;
	gap: 6rem;
}

.card-img-top {
	width: auto;
	min-height: 191px;
	object-fit: cover;
}

@media only screen and (max-width: 600px) {
	.base-form {
		width: 100%;
	}
}

.fa-solid.fa-pencil {
	pointer-events: none;
}
