th {
	color: #edf0f1 !important;
}

.table-header {
	background-color: var(--color1) !important;
	border: 1px solid var(--color1);
}

.edit-button i,
.delete-button i,
.insert-button i {
	margin-right: 8px;
	font-size: 0.75rem;
}

.delete-button {
	background: none !important;
	transition: 0.2s;
}

.delete-button:hover {
	background: #dc3545 !important;
}

.insert-button {
	padding: 0 12px !important;
}

.edit-button,
.insert-button {
	background: none !important;
	border: 1px solid var(--color1) !important;
	transition: 0.2s;
}

.edit-button:hover,
.insert-button:hover {
	background-color: var(--color1) !important;
	border: 1px solid var(--color1-hover) !important;
}

#search-container {
	max-width: 500px;
}

#search {
	background: transparent !important;
	border: 1px solid var(--color1) !important;
	color: white !important;
}

#search-container .input-group-text {
	background-color: var(--color1) !important;
	border: 1px solid var(--color1) !important;
}

#search-container .input-group-text i {
	color: white !important;
}
